@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

body {
  font-family: "Roboto", "sans-serif";
  margin: 0;
}

.header {
  margin: 0;
  padding: 0;
  border-bottom: #a53739 solid thick;
}

.uplinki {
  margin-left: 50%;
  background-color: white;

  padding: 10px 20px;
  text-align: center;

  display: inline;
}

.uplinki a {
  margin: 10px 2%;
  padding: 10px;
  color: black;
  border: 2px solid rgb(177, 177, 177);
  text-decoration: none;
  transition: background-color 0.7s, border-top 0.7s;
  transition-timing-function: ease-out;
}
.uplinki a:hover {
  color: white;
  background-color: tomato;
  border-top: solid darkgreen thick;
}
.dropbtn {
  background-color: grey;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  transition: background-color 1s;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease-out;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: rgb(61, 61, 61);
}

.gssrm-logo {
  margin-left: 150px;
  width: 150px;
  padding: 0;
  animation-name: logo_animation;
  animation-duration: 2s;
  transition: width 3s;
}

@keyframes logo_animation {
  from {
    margin-left: 250px;
  }
  to {
    margin-left: 150px;
  }
}

.gssrm-logo:hover {
  width: 120px;
}

.navelement {
  display: inline-block;
  list-style-type: none;
  margin: 0 3%;
}

.navelement2 {
  margin-left: 30%;
}

.navelement a {
  text-decoration: none;
  color: black;
  padding: 8px;
  transition: color 0.2s;
  transition-timing-function: ease-out;
}

.navelement a:hover {
  color: #a53739;
}

.arrow {
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  margin-bottom: 4px;
}

.whitedown {
  border: solid rgb(255, 255, 255);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin-bottom: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.active a {
  color: #a53739;
}

.undernav {
  display: inline-block;
  width: 100%;
}

.novice {
  display: inline-block;
  width: 16%;
  height: 550px;
}

.banner {
  display: block;
  width: 82.3%;
  float: left;
  margin-right: 10px;
  transition: filter 2s;
}

.banner:hover {
  filter: brightness(60%);
}

.subelj {
  width: 100%;
  padding-bottom: 40px;
  border-bottom: black solid thick;
  transition: filter 2s;
}

.subelj:hover {
  filter: brightness(60%);
}

.stanislava {
  width: 100%;
  transition: filter 2s;
}

.stanislava:hover {
  filter: brightness(60%);
}

h5 {
  font-size: 16px;
  font-weight: 500;
}

footer {
  background-color: rgb(36, 36, 36);
  color: rgb(255, 255, 255);
  height: 100px;
  padding: 20px 0 20px 60px;
}

footer a {
  display: inline;
  color: white;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th {
  height: 70px;
}

table.hovertable {
  font-family: verdana, arial, sans-serif;
  font-size: 11px;
  color: #333333;
  border-width: 1px;
  border-color: #000000;
  border-collapse: collapse;
  margin-top: 2px;
  border-top: none;
}
table.hovertable th {
  background-color: #d5d7df;
  color: rgb(0, 0, 0);
  border-width: 1px;
  padding: 0px;
  border-style: solid;
  font-size: 17px;
  border-color: #000000;
}
table.hovertable tr {
  background-color: #ffffff;
}
table.hovertable td {
  border-width: 1px;
  padding: 0px;
  border-style: solid;
  border-color: #ffffff;
  margin: 0;
  width: 15%;
}

.dankratek {
  display: none;
}

.linkbtn:hover {
  background-color: rgb(177, 177, 177);
}

.linkbtn {
  padding: 23px 46%;
  border: black solid thin;
  background-color: #ffffff;
  margin: 0;
  text-decoration: none;
  color: black;
  font-size: 20px;
  width: 100%;
  height: 100%;
  transition: background-color 0.5s;
  transition-timing-function: ease-out;
}

.linkbtn:hover {
  color: #000000;
}

.videok {
  background-color: #81c2ff;
}

.videok:hover {
  background-color: rgb(143, 233, 255);
}

.lastits {
  padding: 23px 42%;
}

.empty {
  background-color: rgb(233, 233, 233);
  padding: 23px 49.9%;
  padding: 23px 49.9%;
}

.prvi {
  border-left: none;
}

.lastkem {
  padding: 23px 40%;
}

.empty:hover {
  background-color: rgb(233, 233, 233);
}

.lastspo {
  padding: 23px 40.5%;
}

.lastzgo {
  padding: 23px 39.7%;
}

.downloadi {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.widgeti {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-column-gap: 80px;
  grid-row-gap: 40px;
  margin: 40px;
}

.widget {
  width: 100%;
  height: 18em;
  background-color: rgb(238, 238, 238);
  border-radius: 1.5em;
  font-size: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.widget a {
  text-decoration: none;
  color: black;
}

.downloadbtn p:hover {
  background-color: rgb(219, 219, 219);
}

.downloadbtn {
  margin: 20%;
}

.downloadbtn p {
  text-align: center;
  padding: 30px 10px;
  background-color: rgb(236, 236, 236);
  border-radius: 15px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.tipdatoteke {
  text-align: center;
}

.avtor {
  text-align: center;
}

.memegalerija {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-column-gap: 80px;
  grid-row-gap: 40px;
  margin: 40px;
}

.meme {
  height: 300px;
  border: solid black;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  width: 180px;
  display: inline-block;
  background-color: rgb(226, 226, 226);
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: 130px;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.biocontent {
  display: none;
}

.matcontent {
  display: none;
}

.temazapiski {
  margin: 20px 0 40px 20px;
}

.predmetbutton {
  display: inline-flex;
}

@media only screen and (max-width: 1250px) {
  .banner {
    width: 100%;
  }

  .novice {
    width: 100%;
  }

  .subelj {
    width: 100%;
    border-bottom: none;
  }

  .stanislava {
    width: 100%;
  }

  .nov {
    display: inline-block;
    margin: 0 1%;
  }

  .nov1 {
    width: 61%;
  }

  .nov2 {
    width: 32%;
    margin-top: 0;
  }
}

@media only screen and (max-width: 800px) {
  .uplinki {
    margin-left: 10%;
  }

  .navelement2 {
    margin-left: 15%;
  }

  .nov {
    display: block;
    width: 100%;
    margin: 0;
  }

  h5 {
    display: inline-block;
  }

  .novice {
    width: 100%;
    margin: 0;
  }

  .lastspo {
    padding: 23px 30.1%;
  }

  .lastkem {
    padding: 23px 29.3%;
  }

  .lastits {
    padding: 23px 33.3%;
  }

  .lastzgo {
    padding: 23px 28.7%;
  }

  .videok {
    padding: 23px 35%;
  }

  .empty {
    padding: 23px 49.3%;
  }
}

@media only screen and (max-width: 650px) {
  .navelement2 {
    margin-left: 5%;
  }

  .dandolg {
    display: none;
  }
  .dankratek {
    display: table-cell;
    background-color: #d5d7df;
    color: rgb(0, 0, 0);
    border-width: 1px;
    padding: 0px;
    border-style: solid;
    font-size: 17px;
    border-color: #000000;
  }
}

@media only screen and (max-width: 550px) {
  .navelement2 {
    margin-left: 0;
  }

  .navelement {
    margin: 0;
  }

  .downloadwidget {
    width: 60%;
    text-align: center;
  }

  .downloadwidget a {
    padding: 40px;
  }

  .videok {
    padding: 23px 32%;
  }
  .novideok {
    padding: 23px 32%;
  }

  .navbar {
    padding: 0;
    margin: 0;
  }

  .animation {
    width: 300px;
    margin: 0 20px;
    align-items: center;
  }
}

@media only screen and (max-width: 400px) {
  gssrm-logo {
    margin: auto;
  }

  .videok {
    padding: 23px 20%;
  }

  .lastspo {
    padding: 23px 25%;
  }

  .lastkem {
    padding: 23px 29.3%;
  }

  .lastits {
    padding: 23px 33.3%;
  }

  .lastzgo {
    padding: 23px 0;
  }

  .videok {
    padding: 23px 35%;
  }

  .empty {
    padding: 23px 49.3%;
  }
}
