@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

body {
  font-family: "Roboto", "sans-serif";
  margin: 0;
}

.header {
  margin: 0;
  padding: 0;
  border-bottom: #a53739 solid thick;
}

.gssrm-logo {
  margin-left: 200px;
  width: 150px;
  padding: 0;
}

.navelement {
  display: inline;
  list-style-type: none;
  margin: 0 3%;
}

.navelement2 {
  margin-left: 30%;
}

.navelement a {
  text-decoration: none;
  color: black;
  padding: 8px;
}

.navelement a:hover {
  color: #a53739;
}

.active a {
  text-decoration: underline;
}

.undernav {
  display: inline-block;
  width: 100%;
}

.novice {
  display: inline-block;
  width: 16%;
  height: 550px;
}

.banner {
  display: block;
  width: 82.3%;
  float: left;
  margin-right: 10px;
}

.subelj {
  width: 100%;
  padding-bottom: 40px;
  border-bottom: black solid thick;
}

.stanislava {
  width: 100%;
}

h5 {
  font-size: 16px;
  font-weight: 500;
}

footer {
  background-color: rgb(36, 36, 36);
  color: rgb(255, 255, 255);
  height: 100px;
  padding: 20px 0 20px 60px;
}

footer a {
  display: inline;
  color: white;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th {
  height: 70px;
}

table.hovertable {
  font-family: verdana, arial, sans-serif;
  font-size: 11px;
  color: #333333;
  border-width: 1px;
  border-color: #000000;
  border-collapse: collapse;
  margin-top: 2px;
  border-top: none;
}
table.hovertable th {
  background-color: #d5d7df;
  color: rgb(0, 0, 0);
  border-width: 1px;
  padding: 0px;
  border-style: solid;
  font-size: 17px;
  border-color: #000000;
}
table.hovertable tr {
  background-color: #ffffff;
}
table.hovertable td {
  border-width: 1px;
  padding: 0px;
  border-style: solid;
  border-color: #ffffff;
  margin: 0;
  width: 15%;
}

.dankratek {
  display: none;
}

.linkbtn:hover {
  background-color: rgb(177, 177, 177);
}

.linkbtn {
  padding: 23px 46%;
  border: black solid thin;
  background-color: #ffffff;
  margin: 0;
  text-decoration: none;
  color: black;
  font-size: 20px;
  width: 100%;
  height: 100%;
}

.linkbtn:hover {
  color: #000000;
}

.videok {
  background-color: #81c2ff;
}

.videok:hover {
  background-color: rgb(143, 233, 255);
}

.lastits {
  padding: 23px 42%;
}

.empty {
  background-color: rgb(233, 233, 233);
  padding: 23px 49.9%;
  padding: 23px 49.9%;
}

.prvi {
  border-left: none;
}

.lastkem {
  padding: 23px 40%;
}

.empty:hover {
  background-color: rgb(233, 233, 233);
}

.lastspo {
  padding: 23px 40.5%;
}

.lastzgo {
  padding: 23px 39.7%;
}

.downloadi {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.widgeti {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  margin: 40px;
}

.widget {
  width: 100%;
  height: 18em;
  background-color: rgb(134, 134, 134);
  border-radius: 1.5em;
  font-size: 16px;
}

.widget a {
  text-decoration: none;
  color: black;
}

.downloadbtn p:hover {
  background-color: rgb(219, 219, 219);
}

.downloadbtn {
  margin: 20%;
}

.downloadbtn p {
  text-align: center;
  padding: 30px 10px;
  background-color: rgb(201, 199, 199);
  border-radius: 15px;
  color: rgb(39, 39, 39);
  text-decoration: none;
}

.tipdatoteke {
  text-align: center;
}

.avtor {
  text-align: center;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  width: 180px;
  display: inline-block;
  background-color: rgb(226, 226, 226);
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: 130px;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.temazapiski {
  margin: 20px 0 40px 20px;
}

@media only screen and (max-width: 1250px) {
  .banner {
    width: 100%;
  }

  .novice {
    width: 100%;
  }

  .subelj {
    width: 100%;
    border-bottom: none;
  }

  .stanislava {
    width: 100%;
  }

  .nov {
    display: inline-block;
    margin: 0 1%;
  }

  .nov1 {
    width: 61%;
  }

  .nov2 {
    width: 32%;
    margin-top: 0;
  }
}

@media only screen and (max-width: 800px) {
  .navelement2 {
    margin-left: 15%;
  }

  .nov {
    display: block;
    width: 100%;
    margin: 0;
  }

  h5 {
    display: inline-block;
  }

  .novice {
    width: 100%;
    margin: 0;
  }

  .lastspo {
    padding: 23px 30.1%;
  }

  .lastkem {
    padding: 23px 29.3%;
  }

  .lastits {
    padding: 23px 33.3%;
  }

  .lastzgo {
    padding: 23px 28.7%;
  }

  .videok {
    padding: 23px 35%;
  }

  .empty {
    padding: 23px 49.3%;
  }
}

@media only screen and (max-width: 650px) {
  .navelement2 {
    margin-left: 5%;
  }

  .dandolg {
    display: none;
  }
  .dankratek {
    display: table-cell;
    background-color: #d5d7df;
    color: rgb(0, 0, 0);
    border-width: 1px;
    padding: 0px;
    border-style: solid;
    font-size: 17px;
    border-color: #000000;
  }
}

@media only screen and (max-width: 550px) {
  .navelement2 {
    margin-left: 0;
  }

  .navelement {
    margin: 0;
  }

  .downloadwidget {
    width: 60%;
    text-align: center;
  }

  .downloadwidget a {
    padding: 40px;
  }

  .videok {
    padding: 23px 32%;
  }
  .novideok {
    padding: 23px 32%;
  }

  .navbar {
    padding: 0;
    margin: 0;
  }

  .animation {
    width: 300px;
    margin: 0 20px;
    align-items: center;
  }
}

@media only screen and (max-width: 400px) {
  .videok {
    padding: 23px 20%;
  }

  .lastspo {
    padding: 23px 25%;
  }

  .lastkem {
    padding: 23px 29.3%;
  }

  .lastits {
    padding: 23px 33.3%;
  }

  .lastzgo {
    padding: 23px 0;
  }

  .videok {
    padding: 23px 35%;
  }

  .empty {
    padding: 23px 49.3%;
  }
}
